body {
    font-family: Calibri, sans-serif;
    padding: 8em;
}

#sub-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#total-container {
    display: flex;
    flex-wrap: wrap;
}

#total-container p {
    padding: 1rem;
    background-color: whitesmoke;
}

#as-json-button {
    padding: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.matches-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.match-card {
    border: 1px solid black;
    overflow: hidden;
}

.competition-title-container {
    padding: .6rem;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: space-between;
}

.competition-title {
    font-weight: bolder;
}

.teams-container {
    display: flex;
    align-items: baseline;
}

.team {
    padding: 1rem;
}

.parts-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-top: 1px solid;
    background-color: cyan;
    height: 100%;
}
